.container{
    background-color: #000;
    width: 900px;
}

.nav{
    background-color: #708090;
    padding: 1rem;
    }

.nav-item{
    color: #fff;
    padding: 0.8rem;
    font-weight: bold;
    text-decoration: none; 
}

main{
    color: #fff;
}

footer p{
    color: #fff;
    text-align: center;
}
.itatxt{
    font-style: italic;
}